*.pyc
*.swp
*.nc
*.log
logs/*
*plots/
.vscode
__pycache__*
.coverage
*references_emissions/*.nc
*references_landuse/*.nc
*runs/
*test.py
*backup/
run_checker_bash
*path
*.err
*.out
load_modules*
run_checker_bash_lu
rm_logs
